<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Event Information</title>
</head>
<body>
    <div id="searchContainer">
        <!-- Ô tìm kiếm -->
        <input type="text" id="searchInput" placeholder="Tìm kiếm...">
        <!-- Nút reload -->
        <button id="reloadButton">Tải lại</button>
        <!-- Nút tìm kiếm -->
        <button id="searchButton">Tìm kiếm</button>
    </div>
    
    
    <div id="eventDetails">
        <!-- Dữ liệu sẽ được thêm vào đây bằng JavaScript -->
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>
